.splash {
    border-radius: 10px;
    height: 300px;
    width: 250px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.splash:hover {
    transform: scale(1.12);
    transition: 0.5s;
    cursor: grab;
}

.toggle-button{
    color: azure;
    background-color: black;
    border-radius: 10px;
    font-weight: 500;
}