



.lotion h2 {
    font-size: 25px;
    font-style: oblique;
}

.lotion h3{
    font-size:15px;
    font-style: oblique;
}
.lotionimg{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.lotionimg:hover{
    transform: scale(1.12);
    transition: 0.5s;
    cursor: grab;
    
}

.lotion{
    max-height: 500px;
    overflow-y: auto;
    padding: 20px;
}