.lotionimg{
    height: 200px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.lotionimg:hover{
    transform: scale(1.12);
    transition: 0.5s;
    cursor: grab;
    
}