.skin-care h2 {
    font-size: 25px;
    font-style: oblique;
}

.skin-care h3{
    font-size:15px;
    font-style: oblique;
}

.skin1{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.skin1:hover {
    transform: scale(1.12);
    border-radius: 10px;
    transition: 0.5s;
    cursor: grab;
}