
.naturals h2 {
    font-size: 25px;
    font-style: oblique;
}

.naturals h3{
    font-size:15px;
    font-style: oblique;
}

.naturals-img{
    height: 200px;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.naturals-img:hover {
    transform: scale(1.12);
    transition: 0.5s;
    cursor: grab;
}