
.skinpolish h2 {
    font-size: 25px;
    font-style: oblique;
}

.skinpolish h3{
    font-size:15px;
    font-style: oblique;
}

.skin3img{
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.skin3img:hover {
    transform: scale(1.12);
    transition: 0.5s;
    cursor: grab;
}

.skinpolish{
    max-height: 500px;
    overflow-y: auto;
    padding: 20px;
}


@media(max-width:780px){
    

    .skin3img{
        width:  100px;
        height: 100px;
    }
}