
.app {
    justify-content: center;
    align-items: center;
     margin: auto; 
    padding: 20px;
    text-align: center;
    background-color: rgb(117, 114, 100);
    
    
    
}

.app h1{
    color:whitesmoke;
    background:  rgb(99, 155, 193); 
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    border-radius: 40px;
    padding: 20px;
    margin: 15px;
    width: 40%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.app h1:hover{
    transform: scale(1.12);
    transition: 0.5s;
    color: rgb(9, 14, 19);
    cursor: grab;
    
}

.toggle-button{
    color: azure;
    background-color: black;
    border-radius: 10px;
    font-weight: 500;
}




.icon{
    padding: 10px;
margin-left: 700px;

 
}



