body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(8, 0, 0) ;
    color: azure;
}

.app {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    
}

.app h1{
    color: azure;
    background: linear-gradient(260deg,rgb(105, 77, 62) 60%, rgb(99, 155, 193) 40%);
    font-style: oblique;
    font-size: larger;
    font-weight: 800px;
    border-radius: 40px;
    padding: 20px;
    width: 50%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.app h1:hover{
    transform: scale(1.12);
    transition: 0.5s;
    color: rgb(9, 14, 19);
    cursor: grab;
}

h2{
    font-style: oblique;
    font-size: 10px;
    font-weight: 900;
}

.logo{
    width: 80px;
    height: 80px;
    color: rgb(105, 77, 62);
}

.icon{

 margin-left: 400px;
 
}

 @media(max-width:780px){
    .app h1:hover{
        transform: scale(1.12);
        transition: 0.5s;
        color: rgb(9, 14, 19);
    }
} 
