body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(8, 0, 0) ;
    color: azure;
}

.app {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    text-align: center;
    
}

.app h1{
    color: azure;
    background: linear-gradient(260deg,rgb(227, 85, 9) 60%, rgb(5, 59, 95) 40%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 800;
    border-radius: 40px;
    padding: 20px;
    width: 50%;
}

.app h1:hover{
    transform: scale(1.12);
    transition: 0.5s;
    color: rgb(9, 14, 19);
    cursor: grab;
}

h3{
    font-size: 5px;
    font-family: serif;
    font-weight: 500;
}

.logo{
    width: 80px;
    height: 80px;
    color: rgb(227, 85, 9);
}

.icon{

 margin-left: 400px;
 
}

 @media(max-width:780px){
    .app h1:hover{
        transform: scale(1.12);
        transition: 0.5s;
        color: rgb(9, 14, 19);
    }
} 
