

.makeup{
    display: grid;
    grid-template-columns: 1fr 1fr ;
   gap: 15px;
   padding: 30px;
   margin: 10%;
   justify-content: center;
}

p{
    margin: 5%;
    padding: 5px;
    font-size:15px;
    font-style: oblique;
    
}


